<section class="block block--dark">
  <footer class="block block--dark">
    <div class="collapsible collapsible--expanded">
      <footer class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </footer>
      <div class="collapsible__content">
        <li>Website Hosting</li>
        <li>Free Automated Wordpress</li>
        <li>Migrations</li>
      </div>
    </div>
  </footer>
  <footer class="block block--dark">
    <div class="collapsible collapsible--expanded">
      <footer class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </footer>
      <div class="collapsible__content">
        <li>Website Hosting</li>
        <li>Free Automated Wordpress</li>
        <li>Migrations</li>
      </div>
    </div>
  </footer>
  <footer class="block block--dark">
    <div class="collapsible collapsible--expanded">
      <footer class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </footer>
      <div class="collapsible__content">
        <li>Website Hosting</li>
        <li>Free Automated Wordpress</li>
        <li>Migrations</li>
      </div>
    </div>
  </footer>
  <footer class="block block--dark">
    <div class="collapsible collapsible--expanded">
      <footer class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </footer>
      <div class="collapsible__content">
        <li>Website Hosting</li>
        <li>Free Automated Wordpress</li>
        <li>Migrations</li>
      </div>
    </div>
  </footer>
  <div>
    <img src="images/logo.png" alt="" />
    copyright2020 Mosh Hamedani
  </div>
</section>
